<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1078533988319-q9d9r3j1dludm1fo8596815iup1jjaan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaof2abf38572d20d5dde71ea5c33a02c07</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NMFClientId</key>
	<string>x1vqbmfk4m</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpoqaHanSansNeo-Regular.otf</string>
		<string>SpoqaHanSansNeo-Medium.otf</string>
		<string>SpoqaHanSansNeo-Bold.otf</string>
		<string>SpoqaHanSansNeo-Light.otf</string>
		<string>SpoqaHanSansNeo-Thin.otf</string>
	</array>
</dict>
</plist>
