<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFClientId</key>
	<string>x1vqbmfk4m</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpoqaHanSansNeo-Regular.otf</string>
		<string>SpoqaHanSansNeo-Bold.otf</string>
		<string>SpoqaHanSansNeo-Light.otf</string>
		<string>SpoqaHanSansNeo-Thin.otf</string>
		<string>SpoqaHanSansNeo-Medium.otf</string>
	</array>
</dict>
</plist>
